{% extends "layouts/loggedout.html" %}
{% block content %}
<div class="card">
    <div class="card-body bg-light">
        <div class="card-title">
            <div class="row">
                <div class="col">Welcome to app, {{user.email}}!</div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="{{ url_for('post.post') }}">+</a></div>
            </div>
        </div>
        <div class="card-text">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Created at</td>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                <tr a>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.author.email }}</td>
                    <td>{{ post.created_at }}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <div class="col-auto mt-2">
                            <a href="{{ url_for('post.handlePost', post_id=post.id) }}" class="btn btn-outline-primary">Edit</a>
                            </div>
                            <div class="col-auto mt-2">
                                <form action="{{ url_for('post.deletePost', post_id=post.id) }}" method="POST">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            
            </table>
        </div>
    </div>
</div>
{% endblock %}