{% extends "layouts/loggedin.html" %}
{% block content %}
<div class="card">
    <div class="card-body bg-light">
        <div class="card-title">
            Post
        </div>
            <div class="card">
                <div class="card-body bg-light">
                    <div class="card-title">
                        <div class="row">
                            <div class="col">Welcome to app, {{user.email}}!</div>
                            <div class="col d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="{{ url_for('post_handlers.createPost') }}">+</a></div>
                        </div>
                    </div>
                    <div class="card-text">
                        <table>
                            <tbody>
                            <tr>
                            <td>POST TITLE</td>
                            </tr>
                            <tr>
                            <td>ID | AUTHOR | CREATED</td>
                            </tr>
                            <tr>
                            <td>POST CONTENT</td>
                            </tr>
                            <tr>
                            <td>Comment</td>
                            </tr>
                            <tr>
                            <td>AUTHOR | CREATED | edit | delete</td>
                            </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<tr a>
    <td>{{ post.id }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.author.email }}</td>
    <td>{{ post.created_at }}</td>