{% extends "layouts/loggedin.html" %}
{% block content %}
<div class="card border mb-3">
    <div class="card-header bg-transparent text-lowercase">
        {{ post.id }}
        |
        {{ post.author.email }}
        |
        {{ post.created_at }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>
    </div>
    <div class="card-footer bg-transparent">
        <table class="table">
            <tbody>
                {% for comment in comments %}
                <tr>
                    <td>
                    " {{ comment.comment }} "
                    </td>
                </tr>
                <tr>
                    <td>
                    {{ comment.author.email }}
                    |
                    {{ comment.created_at }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                    <form action="{{ url_for('comment_handlers.PostComments', post_id=post.id) }}" method="POST">
                    <!-- <label for="newComment" class="form-label"> New Comment</label> -->
                    <textarea id="newComment" name="newComment" class="form-control" placeholder="Enter your comment here" required></textarea>
                    <div class="col-auto mt-2">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                    </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}