{% extends "layouts/loggedin.html" %}
{% block content %}
<div class="card border mb-3">
    <div class="card-header bg-transparent text-lowercase">
        {{ post.id }}
        |
        {{ post.author.email }}
        |
        {{ post.created_at }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>
    </div>
    <div class="card-footer bg-transparent">
        {% for comment in comments %} 
            <table class="table table-striped table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                        {{ comment.comment.comment }}
                        |
                        {{ comment.comment.author }}
                        |
                        {{ comment.comment.created_at }}
                    </tr>
                    <tr>
                        comment:

                        <div class="mb-3">
                        <label for="" class="form-label">test comment</label>
                        <input type="text"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="enter your comment">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                    </tr>
                </tbody>`
            </table>
        {% endfor %} 
    </div>
</div>
{% endblock %}