{% extends "layouts/loggedin.html" %}
{% block content %}
<div class="card border mb-3">
    <div class="card-header bg-transparent text-lowercase">
        {{ post.id }}
        |
        {{ post.author.email }}
        |
        {{ post.created_at }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.description }}</p>
    </div>
    <div class="card-footer bg-transparent border-success">
        {% for comment in comments %} 
        <table class="table table-striped">
            <tr>{{ comment.comment.comment }}</tr>
        </table>
        {% endfor %} 
    </div>
</div>
{% endblock %}